{{#each vehicles}}
<li data-vehicle-id="{{ vehicleId }}">
  <a href="#" id="edit-vehicle-{{ vehicleId }}">
    {{ name }}
    <span class="close link-close"><i class="fa fa-trash-o"></i></span>
  </a>
</li>
{{/each}}

{{#if vehicles.length }}
<li class="divider"></li>
{{/if}}

<li>
  <a data-toggle="modal" data-target="#add-vehicle-modal" href="#"><i class="fa fa-plus"></i> Add Vehicle</a>
</li>