{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}TripCost{% endblock %}

{% block head %}
{{ super() }}
{{ fixes.ie8() }}
{% endblock %}

{% block metas %}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes" />
{% endblock %}

{% block styles -%}
{{super()}}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href="{{url_for('.static', filename='css/style.css')}}" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
{{super()}}
<script src="//maps.googleapis.com/maps/api/js?v=3&sensor=false&extension=.js"></script>
<script src="{{url_for('.static', filename='js/jquery-2.1.0.min.js')}}"></script>
<script src="{{url_for('.static', filename='js/main.js')}}"></script>
{% endblock %}

{% block content %}
    
  {% include 'nav.html' %}

  <!-- <div class="form-container">
    
    <form action="" method="get">
      
      <div class="form-group">

        <div class="form-header">
          <div>
            <h2>Get Directions</h2>
            <button type="button" class="close" style="display:block">&times;</button>
          </div>
        </div>
        
        <div class="left-inner-addon">
          <i class="fa fa-location-arrow"></i>
          <input type="text" name="start" id="start" placeholder="Start..." class="form-control input-lg" />
        </div>

        <div class="left-inner-addon">
          <i class="fa fa-crosshairs"></i>
          <input type="text" name="destination" id="destination" placeholder="Destination..." class="form-control input-lg" />
        </div>

      </div>

    </form> -->

  </div>

  <div id="map-canvas"></div>
{% endblock %}