{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %}TripCost{% endblock %}

{% block head %}
{{ super() }}
{{ fixes.ie8() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='img/tripcost.png') }}">
{% endblock %}

{% block metas %}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes" />
{% endblock %}

{% block styles %}
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<link href="{{url_for('.static', filename='css/dist/combined.min.css')}}" rel="stylesheet">
{% endblock styles %}

{% block scripts %}
<script src="//maps.googleapis.com/maps/api/js?v=3&sensor=false&extension=.js"></script>
<script src="{{url_for('.static', filename='js/dist/combined.js')}}"></script>
{% endblock %}

{% block content %}

  {% include 'nav.html' %}

  </div>

  <div id="map-canvas"></div>

  <div class="container" id="results-container">
    
  </div>

  <!-- Modal -->
  <div class="modal fade" id="add-vehicle-modal" tabindex="-1" role="dialog" aria-labelledby="addVehicleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="addVehicleModalLabel">Add a Vehicle</h4>
        </div>
        <div class="modal-body">
          <form action="#" method="post" class="form-horizontal" id="add-vehicle">

            <div class="form-group">
              <div class="add-vehicle-year">
                <label class="col-sm-2 control-label">Year:</label>
                <div class="col-sm-10">
                  <p class="form-control-static add-vehicle-year-container">
                    <select name="year" class="form-control" id="add-vehicle-year"><option value="">None</option></select>
                  </p>
                </div>
              </div>

              <div class="add-vehicle-make">
                <label class="col-sm-2 control-label">Make:</label>
                <div class="col-sm-10">
                  <p class="form-control-static add-vehicle-make-container">
                    <select name="make" class="form-control" id="add-vehicle-make"><option value="">None</option></select>
                  </p>
                </div>
              </div>

              <div class="add-vehicle-model">
                <label class="col-sm-2 control-label">Model:</label>
                <div class="col-sm-10">
                  <p class="form-control-static add-vehicle-model-container">
                    <select name="model" class="form-control" id="add-vehicle-model"><option value="">None</option></select>
                  </p>
                </div>
              </div>

              <div class="add-vehicle-options">
                <label class="col-sm-2 control-label">Options:</label>
                <div class="col-sm-10">
                  <p class="form-control-static add-vehicle-options-container">
                    <select name="vehicleId" class="form-control" id="add-vehicle-options"><option value="">None</option></select>
                  </p>
                </div>
              </div>

              <div class="add-vehicle-preview">
                <label class="col-sm-2 control-label">Preview:</label>
                <div class="col-sm-4 image-thumbnail">
                  
                </div>
              </div>

            </div>
          </form>
        </div>
        <div class="modal-footer">
          <span class="add-vehicle-spinner" style="display:none"><i class="fa fa-spinner fa-spin fa-2x"></i></span>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-danger" id="add-vehicle-reset">Reset</button>
          <button type="button" class="btn btn-success" id="add-vehicle-save">Add</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/x-handlebars-template" id="results-template">
  {% raw %}

  <div class="row">
    <div class="col-md-12">
      <h1>Results</h1> <a href="#top"><i class="fa fa-arrow-circle-o-up"></i></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h3>{{ name }}</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <a href="#" class="thumbnail">
        <img src="{{ mainImage }}" alt="{{ name }}">
      </a>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Cost Analysis</h3>
        </div>
        <div class="panel-body">
            {{#if epa}}
            <div class="cost-analysis">
              <span class="label label-primary">EPA Estimated Cost:</span>
              <strong>${{formatNumber epa}}</strong>
            </div>
            {{/if}}
            {{#if ege}}
            <div class="cost-analysis">
              <span class="label label-primary">EGE Estimated Cost:</span>
              <strong>${{formatNumber ege}}</strong>
            </div>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
  </div>

  {% endraw %}
  </script>

  <script type="text/x-handlebars-template" id="vehicle-list-template">
  {% raw %}
  
  {{#each vehicles}}
  <li data-vehicle-id="{{ vehicleId }}">
    <a href="#" id="edit-vehicle-{{ vehicleId }}">
      {{ name }}
      <span class="close link-close"><i class="fa fa-trash-o"></i></span>
    </a>
  </li>
  {{/each}}

  {{#if vehicles.length }}
  <li class="divider"></li>
  {{/if}}

  <li>
    <a data-toggle="modal" data-target="#add-vehicle-modal" href="#"><i class="fa fa-plus"></i> Add Vehicle</a>
  </li>

  {% endraw %}
  </script>

  <script type="text/x-handlebars-template" id="vehicle-preview-template">
  {% raw %}
  <a href="#" class="thumbnail">
    <img src="{{ url }}" alt="{{ description }}">
  </a>
  {% endraw %}
  </script>

{% endblock %}
