<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">TripCost</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('about')}}">About Us</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <i class="fa fa-map-marker directions-spinner"></i> Directions <strong class="caret"></strong>
          </a>
          <div class="dropdown-menu directions-dropdown" style="padding: 15px;">
            <form id="directions-form" action="#" method="#" accept-charset="UTF-8">
              
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <a href="#" class="start-current-location" title="Click to use current location...">
                      <i class="fa fa-location-arrow"></i>
                    </a>
                  </span>
                  <input type="text" name="start" id="start" placeholder="Start..." class="form-control" value="Chicago, IL" />
                </div>
                <span class="start-error label label-danger"></span>
              </div>
              
              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon">
                    <a href="#" class="destination-current-location" title="Click to use current location...">
                      <i class="fa fa-crosshairs"></i>
                    </a>
                  </span>
                  <input type="text" name="destination" id="destination" placeholder="Destination..." class="form-control" value="Los Angeles, CA" />
                </div>
                <span class="destination-error label label-danger"></span>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <span class="input-group-addon vehicle-select"><i class="fa fa-truck"></i></span>
                  <select name="vehicle" id="select-vehicle" class="form-control">
                    <option value="">Select a vehicle...</option>
                  </select>
                </div>
                <span class="vehicle-select-error label label-danger"></span>
              </div>
             
              <div class="form-group">
                <input class="btn btn-primary btn-block" type="submit" name="submit" id="findRoute" value="Find Route" />
                <span class="route-error label label-danger"></span>
              </div>
            </form>
          </div>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <i class="fa fa-truck"></i> Vehicles <strong class="caret"></strong>
          </a>
          <ul class="dropdown-menu" id="nav-vehicle-list">
            
          </ul>
        </li>
        <li id="results-button"><a href="#results-container"><i class="fa fa-bar-chart-o"></i> Results</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if not is_logged_in %}
        <li><a href="{{ url_for('register') }}">Sign Up</a></li>
        <li class="dropdown">
          
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
          <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
            <form action="{{ url_for('login') }}" method="post">
              <li>
                 <div class="row">
                    <div class="col-md-12">
                       <form class="form" role="form" method="post" action="login" accept-charset="UTF-8" id="login-nav">
                          <div class="form-group">
                             <label class="sr-only" for="exampleInputEmail2">Email address</label>
                             <input type="email" class="form-control" name="email" id="exampleInputEmail2" placeholder="Email address" 
                             required>
                          </div>
                          <div class="form-group">
                             <label class="sr-only" for="exampleInputPassword2">Password</label>
                             <input type="password" class="form-control" name="password" id="exampleInputPassword2" placeholder="Password" required>
                          </div>
                          <div class="checkbox">
                             <label>
                             <input type="checkbox" name="remember"> Remember me
                             </label>
                          </div>
                          <div class="form-group">
                             <button type="submit" class="btn btn-success btn-block">Sign in</button>
                          </div>
                       </form>
                    </div>
                 </div>
              </li>
              <li class="divider"></li>
              <li>
                 <button class="btn btn-primary btn-block" id="sign-in-facebook"><i class="fa fa-facebook"></i> Sign In with Facebook</button>
                 <button class="btn btn-info btn-block" id="sign-in-twitter"><i class="fa fa-twitter"></i> Sign In with Twitter</button>
              </li>
            </form>
          </ul>
        </li>
      {% else %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Expenses<b class="caret"></b></a>
          <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
            <form action="/saveexpenses" method="post">
              <li>
                <div class="row">
                  <div class="col-md-12">
                    <form class="form" role="form" method="post" action="saveexpenses" accept-charset="UTF-8" id="saveexpenses-nav">
                      <div class ="form-group">
                        <input type="text" class="form-control" name="item" id="exampleItem" placeholder="Item" required>
                      </div>
                      <br><br>
                      <div class="form-group">
                        <style type="text/css">
                          input {
                            float:right;
                            clear:both;
                        }
                        </style>
                        <label>Price $</label>
                        <input type="number" name="price" min="0" step="0.01" title="CDA Currency Format - no dollar sign and no comma(s) - cents (.##) are optional" placeholder="0.00">
                      </div>
                      <div class="form-group">
                        <label>Quantity</label>
                        <input type="number" name="quantity" min="1" step="1" title="Must be a postive integer" placeholder="1">
                      </div>
                      <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">Add Expense</button>
                      </div>
                    </form>
                  </div>
                </div>
              </li>
              <li class="divider"></li>
            </form>
            <li id="expenses-button"><a href="/expenses"><button class="btn btn-primary btn-block">My Expenses</button></a></li>
          </ul>
        </li>
        <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
      {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>